@font-face {
    font-family: "Capital Poster W00 Regular";
    src: url("../fonts/Capital Poster W00 Regular/Capital Poster W00 Regular.eot"); /* IE9*/
    src: url("../fonts/Capital Poster W00 Regular/Capital Poster W00 Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/Capital Poster W00 Regular/Capital Poster W00 Regular.woff2") format("woff2"), /* chrome、firefox */
    url("../fonts/Capital Poster W00 Regular/Capital Poster W00 Regular.woff") format("woff"), /* chrome、firefox */
    url("../fonts/Capital Poster W00 Regular/Capital Poster W00 Regular.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url("../fonts/Capital Poster W00 Regular/Capital Poster W00 Regular.svg#Capital Poster W00 Regular") format("svg"); /* iOS 4.1- */
}

@font-face {
    font-family: "Copperplate Goth BT";
    src: url("../fonts/Copperplate Goth BT/copperplate_gothic_bt-webfont.eot");
    src: url("../fonts/Copperplate Goth BT/copperplate_gothic_bt-webfont.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Copperplate Goth BT/copperplate_gothic_bt-webfont.woff2") format("woff2"),
    url("../fonts/Copperplate Goth BT/copperplate_gothic_bt-webfont.woff") format("woff"),
    url("../fonts/Copperplate Goth BT/copperplate_gothic_bt-webfont.ttf") format("truetype"),
    url("../fonts/Copperplate Goth BT/copperplate_gothic_bt-webfont.svg#copprplgoth_btroman") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Impact Regular";
    src: url("../fonts/Impact Regular/impact-webfont.eot");
    src: url("../fonts/Impact Regular/impact-webfont.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Impact Regular/impact-webfont.woff2") format("woff2"),
    url("../fonts/Impact Regular/impact-webfont.woff") format("woff"),
    url("../fonts/Impact Regular/impact-webfont.ttf") format("truetype"),
    url("../fonts/Impact Regular/impact-webfont.svg#impactregular") format("svg");
    font-weight: normal;
    font-style: normal;
}