body {
    font-family: "Copperplate Goth BT", sans-serif;
}

p, h1 {
    text-align: center;
}

.page-content {
    margin: 0 auto;
    max-width: 40em;
    padding: 1em 1em 0 1em;
}

a {
    text-decoration: none;
    color: darkgrey;
}

a:hover {
    color: black;
}

.notice {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: black;
    font-weight: bold;
    background-color: darkgrey;
    text-align: center;
    height: 3em;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: bold;
    text-align: center;
    background-repeat: round space;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.6;
}

.image1 {
    background-image: url("../images/chevrons_cropped.jpg");
    height: 50vw;
}

.image2 {
    background-image: url("../images/mounts_cropped.jpg");
}

.navbar {
    margin: 0 3em 0 3em;
    background-color: white !important;
}

@media (max-width: 991px) {
    .navbar {
        margin: 0;
    }
}

.nav-link {
    color: black !important;
}

.nav-link.active {
    color: white !important;
    background-color: black;
    max-width: 5em;
    text-align: center;
    font-weight: bold;
}

.logo {
    font-family: "Capital Poster W00 Regular", sans-serif;
    font-size: 3em;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
    font-size: 0.75em;
    height: 5em;
}

footer > p {
    text-align: left;
}

footer > p > a {
    color: lightgrey;
    text-decoration: underline;
}

footer > p > a:hover {
    color: lightgrey;
}