/* ABOUT BOX */

#about-box {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1em;
}

#about-box > p {
    text-align: left;
    margin: 0;
}

#about-box > figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about-box > figure > img {
    width: 15em;
    margin-top: 0.5em;
}

#about-box > figure > figcaption {
    width: 15em;
    text-align: center;
    margin-top: 0.5em;
}

@media (max-width: 639px) {
    #about-box {
        grid-template-columns: 1fr;
    }

    #about-box > p {
        text-align: center;
    }
}


/* SERVICES BOX */

#services-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3em;
    background-color: #ededed;
    border-radius: 10px;
    padding: 1em;
    width: 100%;
}

#services-box > ul {
    margin: 0;
    margin-right: 1em;
    font-size: 1.3em;
}

#services-box > ul > li {
    width: 100%;
    text-align: left;
}

@media (max-width: 639px) {
    #services-box {
        grid-template-columns: 1fr;
        gap: 0;
    }
}


/* MAP */

#map {
    aspect-ratio: 1 / 1;
    width: 100%;
    background-color: #ededed;
}


/* CATALOGUE */

@media (max-width: 835px) {
    #catalogue {
        display: none
    }
}