#contact-box {
    margin: 1em 0;
    padding: 1em;
    border-radius: 10px;
}

#contact-box > p {
    margin: 0;
    text-align: left;
    font-size: 2.5em;
}

#contact-box a {
    color: black;
}

#contact-box a:hover {
    color: darkgrey;
    text-decoration: none;
}