#telephone {
    margin: 1em 0;
    padding: 1em;
    border-radius: 10px;
}

#telephone > p {
    margin: 0;
    text-align: left;
    font-size: 2.5em;
}

#telephone a {
    color: black;
}

#telephone a:hover {
    color: darkgrey;
    text-decoration: none;
}

#contact-banner {
    background-color: #ededed;
    padding: 1em;
    border-radius: 10px;
}