#contact-banner {
    background-color: #ededed;
    padding: 1em;
    border-radius: 10px;
}

#contact-box {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1em;
    margin-top: 2em;
}

#opening-hours {
    display: flex;
    flex-direction: column;
    align-items: centre;
    background-color: #ededed;
    padding: 1em;
    border-radius: 10px;
}

#telephone {
    margin: 1em 0;
    padding: 1em;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#telephone > p {
    margin: 0;
    text-align: left;
    font-size: 2.5em;
}

#telephone a {
    color: black;
}

#telephone a:hover {
    color: darkgrey;
    text-decoration: none;
}

@media (max-width: 786px) {
    #contact-box {
        grid-template-columns: 1fr;
        margin-top: 1em;
    }
}