#page-background {
    background-color: white;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

#opening-status {
    background-color: #ededed;
    border-radius: 10px;
    padding: 1em;
}


/* NOTICE BANNER */

.notice-banner {
    position: sticky;
    top: 70px; /* Offset from top of screen is height of navbar */
    z-index: 1;
    background-color: #ff4f42;
    width: 100vw;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.4);
}

.notice-banner > p {
    margin: 0;
    font-size: 1.5em;
    font-weight: bold;
}

@media (max-width: 700px) {
    .notice-banner > p {
        font-size: 1em;
    }
}


/* PARALLAX BANNER */

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 100vw;
    flex: none;
    z-index: -1;
    position: relative;
    overflow-x: hidden;
}

.banner > img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
}

.banner > p {
    background-color: white;
    margin: 0;
    padding: 0 0.5em;
    font-family: "Copperplate Goth BT", sans-serif;
    color: black;
    font-size: 4.5vw;
    font-weight: bold;
    text-align: center;
}

@media (max-width: 700px) {
    .banner {
        height: 25vh;
    }
}


/* TESTIMONIALS */

blockquote {
    background-color: #ededed;
    border-radius: 10px;
    padding: 1em;
    width: 100%;
}

blockquote > .quote {
    font-family: 'Noto Serif', serif;
    font-style: italic;
    margin-bottom: 0;
}

blockquote > .quote::before {
    content: "“";
}

blockquote > .quote::after {
    content: "”";
}

blockquote > .quote-attribution {
    margin: 0.5em 0 0 0;
}

blockquote > .stars {
    margin: 0.5em 0 0 0;
}

.show-testimonials-btn {
    border: none;
    background-color: white;
    text-decoration: underline;
}

.bi-star-fill {
    color: #555555;
}


/* TESTIMONIAL MODAL */

dialog {
    max-width: 60em;
    height: 100vh;
    padding: 0;
    border: none;
    outline: none;
}

dialog > div {
    height: 100%;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.7);
}

#modal-container {
    padding: 2em;
}

#modal-close-btn {
    position: absolute;
    top: 0;
    right: 0;
    margin: 2rem;
    font-size: 2em;
}

#modal-close-btn:hover {
    cursor: pointer;
}

@media (max-width: 500px) {
    #modal-container {
        padding: 1em;
    }

    #modal-close-btn {
        margin: 1rem 1.5rem;
        font-size: 1.5em;
    }
}

@media (max-width: 1000px) {
    dialog {
        margin: 1em;
    }
}


/* IMAGE CONTAINER */

.img-container {
    width: 20em;
    height: 15em;
    margin: 0;
    overflow: hidden;
}

.img-container > img {
    width: 100%;
}


/* SMALL IMAGE GALLERY */

.small-img-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

@media (max-width: 688px) {
    .small-img-gallery {
        grid-template-columns: 1fr;
    }
}