.navbar {
    padding: 0 3em;
    background-color: white !important;
    z-index: 2;
    width: 100vw;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.4);
}

@media (max-width: 991px) {
    .navbar {
        padding: 0;
    }
}

.nav-link {
    color: black !important;
    max-width: 5em;
}

.nav-link:hover {
    background-color: #ededed;
    text-align: center;
}

.nav-link.active {
    color: white !important;
    background-color: black;
    text-align: center;
    font-weight: bold;
}

.navbar-toggler:focus {
    box-shadow: none;
}