/* BANNER */

#page-background {
    background-color: white;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 100vw;
    flex: none;
    z-index: -1;
}

.banner > img {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.5;
}

.banner > p {
    background-color: white;
    margin: 0;
    padding: 0 0.5em;
    font-family: "Copperplate Goth BT", sans-serif;
    color: black;
    font-size: 4.5vw;
    font-weight: bold;
    text-align: center;
}

@media (max-width: 700px) {
    .banner {
        height: 25vh;
    }
}

#opening-status {
    background-color: #ededed;
    border-radius: 10px;
    padding: 1em;
}
