@import url("fonts.css");
@import url("navbar.css");
@import url("footer.css");
@import url("animations.css");

/* GENERAL STYLING */

html {
    overflow-x: hidden;
}

body {
    font-family: "Copperplate Goth BT", sans-serif;
    padding-top: 4.4em;
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-bottom: 1em;
}

p, h1 {
    text-align: center;
    font-family: "Copperplate Goth BT", sans-serif;
}

.page-content {
    background-color: white;
    flex: 1; /* make content fill page to put footer at bottom if content less than page height */
    max-width: 60em;
    padding: 2em 1em;
    display: flex;
    align-items: center;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: darkgrey;
}

a:hover {
    color: black;
}

.logo {
    font-family: "Capital Poster W00 Regular", sans-serif;
    font-size: 2.5em;
}

.btn {
    color: black;
    background-color: white;
    border: 2px solid black !important;
    border-radius: 0;
    width: 17em;
}

.btn:hover {
    color: white;
    background-color: black;
}

::selection {
    color: white;
    background-color: black;
}

td {
    padding-right: 0.5em;
}

.line-break {
    width: 90%;
    height: 0;
    max-width: 40em;
    border: 1px solid #e0e0e0;
}